.careers_container_1 {
    padding-top: 20vh;
    padding-bottom: 20vh;
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
    color: #fff;
}

.csc1_title {
    font-size: 48px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.csc1_text {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.careers_container_2 {
    padding-top: 10vh;
    padding-bottom: 20vh;
}

.careers_card_container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    display: grid;
    grid-row: 2;
    width: 65%;
    margin: auto;
}

.careers_card {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.careers_card_logo {
    width: 90px;
    height: 90px;
    margin-left: 230px;
    margin-top: -30px;
}

.careers_card_company_container {
    text-align: left;
    margin-top: 1rem;
    width: 90%;
}

.careers_card_title {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-weight: 700;
    text-align: left;
}

.careers_card_content_container {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    text-align: left;
}

.careers_card_info_list li {
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
}

.careers_card_button {
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1rem;
    font-size: 14px;
    margin-top: 2rem;
    cursor: pointer;
    width: 40%;
    position: relative;
    z-index: 2;
}

.careers_card_button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to left, #00d581, #00d581);
    z-index: 1;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    border-radius: 5px;
}

.careers_card_button:hover::before {
    opacity: 1;
    z-index: -1;
}
