.home_container_1 {
    padding-top: 25vh;
    padding-bottom: 20vh;
}

.welcome_container {
    float: left;
}

.welcome_title {
    font-size: 1.5rem;
    color: #0094f8;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 25vh;
    margin-bottom: 10px;
    transition: all 1s ease-in;
}

.welcome_title_loading {
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.welcome_text {
    font-size: 3.5em;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 25vh;
    margin-top: 2rem;
    width: 80vh;
    transition: all 1.5s ease-in;
}

.welcome_text_loading {
    font-size: 3.5em;
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    width: 80vh;
    margin-left: 25vh;
}

.learn_more {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 25vh;
    margin-top: 2rem;
    width: 80vh;
}

.learn_button {
    background-image: linear-gradient(to right, #0094f8, #00d581);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 2;
}

.learn_button_loaded {
    background-image: linear-gradient(to right, #0094f8, #00d581);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.learn_button_loading {
    background-color: #fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1rem;
    margin-top: -1rem;
    cursor: pointer;
}

.learn_button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to left, #00d581, #00d581);
    z-index: 1;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    border-radius: 5px;
}

.learn_button:hover::before {
    opacity: 1;
    z-index: -1;
}

.home_img {
    width: 30%;
    height: 30%;
    top: 0;
    left: 0;
    margin-left: -10rem;
    margin-top: -5rem;
    animation: home_img_slide 6s ease-in-out infinite;
}

@keyframes home_img_slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home_container_2 {
    /* background-image: url(../../assets/home_bg/rm380-12.jpg);
    background-size: cover; */
    background-color: rgb(250, 250, 250);
    padding-bottom: 100vh;
}

.tab_container {
    float: left;
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 7%;
    margin-left: 35vh;
}

.tab_2,
.tab_4 {
    margin-top: 5vh;
}

.service_card {
    width: 312px;
    height: 290px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
    padding-top: 42px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.service_card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
    z-index: 1;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.service_card:hover {
    color: #fff;
    margin-top: -10px;
    transition: all 0.3s ease-in;
}

.service_card:hover .service_card_desc {
    color: #fff;
}

.service_card:hover::before {
    opacity: 1;
    z-index: -1;
}

.service_card_title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}

.service_card_desc {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(96, 96, 96);
}

.service_icon {
    height: 5rem;
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.desc_container {
    padding-top: 20vh;
    width: 43%;
    float: right;
    margin: 0;
}

.desc_title,
.platform_title,
.about_container_title {
    font-size: 1.2rem;
    color: #0094f8;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

.desc_text {
    font-size: 2.2rem;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    width: 60%;
}

.desc_desc {
    margin-top: 2rem;
    width: 60%;
    text-align: left;
    font-size: 1em;
    line-height: 2;
    color: rgb(96, 96, 96);
}

.learn_more_2 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    width: 80vh;
}

.home_container_3 {
    width: 100%;
    background-image: linear-gradient(to right, #0094f8, #00d581);
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.stats_container {
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    display: grid;
}

.stat_1,
.stat_2,
.stat_3,
.stat_4,
.stat_5,
.stat_6 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../../assets/stats_bg/count-shape.png);
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 55px;
    padding-bottom: 70px;
    transition: all 0.2s ease-in;
}

.stat_1:hover,
.stat_2:hover,
.stat_3:hover,
.stat_4:hover,
.stat_5:hover,
.stat_6:hover {
    background-position-x: 100%;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.stat_firstLine {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.stat_secondLine {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.home_container_4 {
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    width: 100%;
    padding-top: 20vh;
}

.platform_container,
.about_container {
    padding-left: 35vh;
    width: 75%;
}

.platform_text,
.about_container_text {
    font-size: 2.2rem;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    width: 100%;
}

.platform_desc,
.about_container_desc {
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    font-size: 1em;
    line-height: 2;
}

.learn_more_3,
.learn_more_4 {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    width: 80vh;
}

.platform_card {
    width: 312px;
    height: 290px;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.platform_card::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
    z-index: 1;
    transition: all 0.3s ease-in;
    opacity: 0;
}

.platform_card:hover {
    color: #fff;
    margin-top: -10px;
    transition: all 0.3s ease-in;
}

.platform_card:hover::before {
    opacity: 1;
    z-index: -1;
}

.platform_card_title {
    font-size: 20px;
    margin-top: 20px;
}

.platform_card_container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-left: -25%;
}

.platform_icon {
    height: 5rem;
    width: 5rem;
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.home_container_5 {
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    width: 100%;
    padding-top: 20vh;
    background-color: rgb(250, 250, 250);
}

.img_container_2 {
    width: 87%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img_container_2 img {
    width: 100%;
    height: 100%;
}

.home_container_6 {
    padding-bottom: 20vh;
    width: 100%;
    padding-top: 20vh;
}

.process_container {
    width: 65%;
    margin: auto;
}

.process_title {
    font-size: 1.2rem;
    color: #0094f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.process_text {
    font-size: 2.2rem;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    width: 100%;
}

.process_card_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    display: grid;
    width: 100%;
    margin-top: 2rem;
}

.process_1,
.process_2,
.process_3,
.process_4 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 55px;
    transition: all 0.2s ease-in;
}

.process_icon_container_container {
    width: 14rem;
    height: 14rem;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 65px;
    transition: all 0.2s ease-in;
    border: 1px dotted rgb(96, 96, 96);
    border-radius: 50%;
}

.process_icon_container {
    width: 10rem;
    height: 10rem;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -17.5px;
    transition: all 0.2s ease-in;
    border-radius: 50%;
}

.process_icon_container:hover {
    transition: all 0.2s ease-in;
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
}

.process_icon_container:hover .process_icon {
    transition: all 0.2s ease-in;
    color: #fff;
}

.process_icon {
    width: 50%;
    height: 50%;
    text-align: center;
    align-items: center;
    color: #0094f8;
    box-sizing: border-box;
    padding-top: 35px;
    margin: auto;
    transition: all 0.2s ease-in;
}

.process_card_title {
    font-size: 1.2rem;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.home_container_7 {
    padding-bottom: 30vh;
    width: 100%;
    padding-top: 30vh;
    background-image: url(../../assets/hc7_bg/hc7-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hc7_row_1 {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
}

.hc7_row_2 {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.home_container_8 {
    padding-bottom: 5vh;
    width: 35%;
    padding-top: 20vh;
    margin: auto;
    border-radius: 10px;
    margin-top: -8%;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    animation: subscribe_container_slide 6s ease-in-out infinite;
}

@keyframes subscribe_container_slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0);
    }
}

.subscribe_icon_container {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    transition: all 0.2s ease-in;
    margin-top: -20%;
}

.subscribe_icon {
    width: 15%;
    height: 15%;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    transition: all 0.2s ease-in;
}

.subscribe_title {
    font-size: 2rem;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.subscribe_text {
    font-size: 1rem;
    color: rgb(132, 132, 132);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.subscribe_input_container {
    width: 100%;
    margin-top: 2rem;
}

.subscribe_input {
    width: 70%;
    height: 3.5rem;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(132, 132, 132);
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.subscribe_button {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    color: #000;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -3.2rem;
    margin-right: auto;
    transition: all 0.2s ease-in;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #0094f8, #00d581);
    border: 1px solid #fff;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.subscribe_button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right, #00d581, #0094f8);
    z-index: 1;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    border-radius: 50%;
}

.subscribe_button:hover::before {
    opacity: 1;
    z-index: -1;
}

.send_icon {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    margin: auto;
    transition: all 0.2s ease-in;
}

.home_container_9 {
    padding-bottom: 20vh;
    width: 100%;
    padding-top: 20vh;
}

.news_container {
    width: 65%;
    margin: auto;
}

.news_title {
    font-size: 1.2rem;
    color: #0094f8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.news_text {
    font-size: 2.2rem;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    width: 100%;
}

.news_card_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    margin-top: 5rem;
}

.news_card {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.news_card_img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.news_icon {
    margin-right: 1rem;
}

.news_card_title {
    font-size: 1.3rem;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

.news_card_desc {
    font-size: 1rem;
    color: rgb(96, 96, 96);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 1rem;
}

.news_card_date {
    font-size: 1em;
    color: rgb(132, 132, 132);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

.read_more {
    font-size: 1em;
    color: #064420;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer {
    padding-bottom: 10vh;
    width: 100%;
    padding-top: 10vh;
    background-color: rgb(250, 250, 250);
    color: #fff;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-gap: 2rem;
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
}

.company_container {
    width: 90%;
    margin: auto;
    height: 100%;
}

.company_title {
    font-size: 2.2em;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.company_text {
    font-size: 1rem;
    color: rgb(96, 96, 96);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
    width: 100%;
}

.company_social_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.social_icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1.5rem;
    color: #0094f8;
    cursor: pointer;
}

.contact_container_2 {
    width: 90%;
    margin: auto;
    margin-top: 2%;
}

.contact_title_2 {
    font-size: 1.5em;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.contact_text_2 {
    font-size: 1rem;
    color: rgb(96, 96, 96);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
    width: 100%;
}

.contact_text_2>p {
    margin-top: 1.8rem;
}

.contact_icon {
    margin-right: 1.5rem;
    color: #0094f8;
}

.navigation_container {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-left: -15%;
}

.navigation_title {
    font-size: 1.5em;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.navigation_text {
    font-size: 1rem;
    color: rgb(96, 96, 96);
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
    width: 100%;
}

.navigation_text>p {
    margin-top: 1.8rem;
}

.navigation_text>p:hover {
    color: #ff5325;
    cursor: pointer;
}

.news_container_2 {
    width: 130%;
    margin: auto;
    margin-left: -30%;
    margin-top: 2%;
}

.news_title_2 {
    font-size: 1.5em;
    color: #000;
    text-align: left;
    margin: 0;
    padding: 0;
}

.news_card_container_2 {
    margin-top: -5%;
    margin-left: -5%;
}

.news_card_2 {
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    padding-bottom: 2%;
}

.news_card_2_img_container {
    width: 30%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.news_card_img_2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

.news_card_2_text {
    width: 70%;
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
    text-align: left;
    padding-left: 5%;
    font-size: 1.2em;
}

.news_card_2>p {
    margin-top: 1rem;
    color: rgb(96, 96, 96);
}

.news_card_2:hover {
    color: #ff5325;
    cursor: pointer;
}

.hc10_line {
    width: 40px;
    background-color: #0094f8;
    height: 5px;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    border: none;
}
